Repository TorqueGameEngines/Torque3D, pull requests merged in 2021-04, with the labels that each got.

#479 Implement Unit Test Suite for TorqueScript.
  Engine/source/console/test/ScriptTest.cpp
  Engine/source/console/test/consoleTest.cpp
  Tools/CMake/torque3d.cmake
Labels: C++, Script, enhancement

#481 report which profile usages are conflicting (was,is)
  Engine/source/gfx/gfxTextureManager.cpp
Labels: C++, QoL Enhancement

#480 adds binary to decimal and vice versa methods
  Engine/source/math/mConsoleFunctions.cpp
Labels: QoL Enhancement, Script

#478 Fixes a resolution switching issue when the game uses **only** OpenGL…
  Engine/source/gfx/gl/sdl/gfxGLDevice.sdl.cpp
  Templates/BaseGame/game/core/gui/scripts/canvas.tscript
Labels: C++, Script, bug
